version: '3.8'
services:
  db:
   image: postgres:14

   restart: always
   environment:
     - POSTGRES_PASSWORD=lam2002
   volumes:
     - pgdata:/var/lib/postgresql/data
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - storage:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      TZ: Asia/Bangkok
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: conglam2002
    command: server --console-address ":9001" /data
volumes:
  pgdata:
  storage:
  