.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 32px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slide-in 0.5s ease-out;
    max-width: 300px;
}

.notification .close-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    color: inherit;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
