/* JobCard.css */
.job-card-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    font-family: Arial, sans-serif;
}

.job-card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.status-icon {
    color: green;
    font-size: 20px;
    vertical-align: middle;
}

.job-info-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.job-info-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.button-container {
    display: flex;
    gap: 10px;
}

.apply-button {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    background-color: #133E87;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.save-button {
    width: 150px;
    height: 100%;
    padding: 10px 20px;
    background-color: #fff;
    color: #133E87;
    border: 1px solid #133E87;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-out {
    border-radius: 50%;
    background: #133E87;
    padding: 10px;
}

.icon-in {
    color: white;
}