name: Deploy

on: [push]

jobs:
  deploy:
    name: Deploy my app

    # IMPORTANT: the workflow must have write access to deployments, otherwise the action will fail.
    permissions:
      deployments: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Call API create deployment
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{github.token}}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{github.repository}}/deployments \
          -d '{
            "ref": "Test",
            "environment": "production",
            "auto_merge": false,
            "required_contexts": [],
            "payload": {
              "deploy": "migrate"
            },
            "description": "Deploy request from curl"
          }'
      # - uses: chrnorm/deployment-action@v2
      #   name: Create GitHub deployment
      #   id: deployment
      #   with:
      #     description: "Deploy image tag: ${{ github.sha }}"
      #     token: '${{ github.token }}'
      #     environment: production
      #     ref: Test
          
      # - name: Deploy my app
      #   run: |
      #     # add your deployment code here
      # - name: Update deployment status (success)
      #   if: success()
      #   uses: chrnorm/deployment-status@v2
      #   with:
      #     description: "Deploy image tag: ${{ github.sha }}"
      #     token: '${{ github.token }}'
      #     state: 'success'
      #     deployment-id: ${{ steps.deployment.outputs.deployment_id }}
      #     ref: Test

      # - name: Update deployment status (failure)
      #   if: failure()
      #   uses: chrnorm/deployment-status@v2
      #   with:
      #     token: '${{ github.token }}'
      #     environment-url: http://my-app-url.com
      #     state: 'failure'
      #     deployment-id: ${{ steps.deployment.outputs.deployment_id }}
      #     ref: Test
