name: Docker Image CI

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write
  deployments: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create GitHub deployment
        uses: chrnorm/deployment-action@v2
        id: deployment
        with:
          token: ${{ github.token }}
          environment: production
          environment-url: http://my-app-url.com
          description: "test 12345"
          state: 'success'
