name: Docker Image CI

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write
  deployments: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create Deployment
        id: deployment
        uses: chrnorm/deployment-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: production
          description: "Build image: ${{ github.sha }}"
          environment-url: http://my-app-url.com
      
      - name: Mark deployment as successful
        uses: chrnorm/deployment-status-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          state: success
          deployment-id: ${{ steps.deployment.outputs.deployment_id }}
          description: "Build & deploy completed"
